<!DOCTYPE html>
<html lang="en" ng-app="myOwn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./lib/angular-1.8.2/angular.min.js"></script>
    <title>Document</title>
</head>

<body ng-controller="myController">
    <!-- <form action="" enctype="multipart/form-data">
        <input type="file" id="file" onchange="angular.element(this).scope().denisFile(this)" multiple>
    </form> -->
    <button ng-click="add()">click</button>
    <h1>
        <h3 ng-repeat="image in number">{{image}} hii</h3>
    </h1>

    <script>
        const app = angular.module('myOwn', [])
            .controller("myController", ($scope) => {
                
                $scope.number = [];
                $scope.add = () => {
                    $scope.number.push({
                        number: "Hii"
                    })
                    console.log($scope.number);
                }
            })
    </script>
</body>

</html>