<!DOCTYPE html>
<html lang="en" ng-app="myOwn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./lib/angular-1.8.2/angular.min.js"></script>
    <title>Document</title>
</head>

<body ng-controller="myController">
    <form action="" enctype="multipart/form-data">
        <input type="file" id="file" onchange="angular.element(this).scope().denisFile(this)" multiple>
    </form>
    <button ng-click="add()">click</button>
    {{image}}
    <h1>
        <h3 ng-repeat="image in images">{{image.url}} hii</h3>
    </h1>

    <script>
        const app = angular.module('myOwn', [])
            .controller("myController", ($scope) => {
                $scope.images = [];
                $scope.number = [];
                $scope.add = () => {
                    $scope.number.push({
                        number: "Hii"
                    })
                    console.log($scope.number);
                }

                $scope.denisFile = function (element) {
                    $scope.$apply(() => {
                        let image = element.files;
                        for (i = 0; i < image.length; i++) {
                            $scope.images.push({
                                url: URL.createObjectURL(image[i])
                            })
                        }
                    })
                }
            })
    </script>
</body>

</html>