<link rel="stylesheet" href="css/navbar.css">

<!-- navbar -->
<nav class="navbar navbar-expand navbar-light bg-light sticky-top">
    <div class="container-xl">
        <a class="navbar-brand" href="#"><img src="images/ig-logo.png" alt="Instagram Logo" /></a>

        <!-- search -->
        <form class="d-flex mx-auto">
            <div class="input-group">
                <span class="input-group-text bg-white" id="basic-addon1"><i class="bi bi-search"></i>
                </span>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            </div>
        </form>
        <!-- search ends -->

        <!-- nav items -->
        <ul class="navbar-nav navbar-light bg-light me-0 mb-2 mb-lg-0 d-flex" id="navbar-icons">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" ui-sref="home" ui-sref-active="active">
                    <i class="bi bi-house-door-fill" style="font-size: 23px"></i>
                </a>
            </li>

            <li class="nav-item ms-md-3">
                <a class="nav-link" href="#">
                    <i class="bi bi-chat-dots" style="font-size: 23px"></i>
                </a>
            </li>

            <li class="nav-item ms-md-3">
                <a class="nav-link">
                    <i class="bi bi-plus-square" data-bs-toggle="modal" data-bs-target="#createPostModal" style="font-size: 23px; cursor: pointer;"></i>
                </a>
            </li>

            <li class="nav-item ms-md-3">
                <a class="nav-link" href="#">
                    <i class="bi bi-heart" style="font-size: 23px"></i>
                </a>
            </li>

            <li class="nav-item ms-md-3">
                <a class="nav-link" href="#" ui-sref="profile" ui-sref-active="active">
                    <img src="images/profiles/profile-1.jpg" alt="profile image" class="rounded-circle" style="height: 33px" />
                </a>
            </li>
        </ul>
        <!-- nav items ends-->
    </div>
</nav>
<!-- navbar ends -->



<!-- Create Post Modal -->
<div class="modal fade" id="createPostModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create New Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" ng-controller="postFileCtrl">
                <div>
                    <img id="upload-post-preview-img" style="width: 100%; height: 100%;" />
                </div>

                <div class="d-flex justify-content-center align-items-center flex-column" style="width: 100%; height: 400px;" ng-show="fileUploadDiv">
                    {{fileUploadDiv}}
                    <i class="bi bi-cloud-upload" style="font-size: 130px; cursor: pointer;"></i>
                    <form action="" enctype="multipart/form-data">
                        <button class="btn btn-primary">
                            <input type="file" onchange="loadImagesFile(event)" name="files-to-upload" id="files-to-upload" multiple style="display:none;">
                            <label for="files-to-upload">Select from your device</label>
                        </button>
                    </form>
                </div>
                <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div> -->
            </div>
        </div>
    </div>
</div>