<!--  stories -->
<div class="row justify-content-center">
    <div
        class="stories my-3 d-flex flex-row overflow-scroll"
        style="scrollbar-width: none"
    >
        <!-- add story -->
        <div
            class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center"
        >
            <div
                class="position-relative"
                style="
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    padding: 3px;
                    background: radial-gradient(
                            circle farthest-corner at 35% 90%,
                            #fec564,
                            transparent 50%
                        ),
                        radial-gradient(
                            circle farthest-corner at 0 140%,
                            #fec564,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 0 -25%,
                            #5258cf,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 20% -50%,
                            #5258cf,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 100% 0,
                            #893dc2,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 60% -20%,
                            #893dc2,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 100% 100%,
                            #d9317a,
                            transparent
                        ),
                        linear-gradient(
                            #6559ca,
                            #bc318f 30%,
                            #e33f5f 50%,
                            #f77638 70%,
                            #fec66d 100%
                        );
                "
            >
                <img
                    src="../images/profiles/profile-1.jpg"
                    class="img-fluid rounded-circle img-thumbnail"
                    alt=""
                />
                <svg
                    style="
                        position: relative;
                        left: 50px;
                        bottom: 20px;
                        background-color: white;
                        border-radius: 50%;
                    "
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="#4c68d7"
                    class="bi bi-plus-circle-fill"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
                    />
                </svg>
            </div>
            <div class="small mt-2">Your Story</div>
        </div>
        <!-- add story ends-->

        <!-- story item 1 -->
        <div
            class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center"
        >
            <div
                class="position-relative"
                style="
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    padding: 3px;
                    background: radial-gradient(
                            circle farthest-corner at 35% 90%,
                            #fec564,
                            transparent 50%
                        ),
                        radial-gradient(
                            circle farthest-corner at 0 140%,
                            #fec564,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 0 -25%,
                            #5258cf,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 20% -50%,
                            #5258cf,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 100% 0,
                            #893dc2,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 60% -20%,
                            #893dc2,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 100% 100%,
                            #d9317a,
                            transparent
                        ),
                        linear-gradient(
                            #6559ca,
                            #bc318f 30%,
                            #e33f5f 50%,
                            #f77638 70%,
                            #fec66d 100%
                        );
                "
            >
                <img
                    src="../images/profiles/profile-2.jpg"
                    class="img-fluid rounded-circle img-thumbnail"
                    alt=""
                />
            </div>
            <div class="small mt-2">Ankit verma</div>
        </div>
        <!-- story item ends -->

        <!-- story item  2 -->
        <div
            class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center"
        >
            <div
                class="position-relative"
                style="
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    padding: 3px;
                    background: radial-gradient(
                            circle farthest-corner at 35% 90%,
                            #fec564,
                            transparent 50%
                        ),
                        radial-gradient(
                            circle farthest-corner at 0 140%,
                            #fec564,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 0 -25%,
                            #5258cf,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 20% -50%,
                            #5258cf,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 100% 0,
                            #893dc2,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 60% -20%,
                            #893dc2,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 100% 100%,
                            #d9317a,
                            transparent
                        ),
                        linear-gradient(
                            #6559ca,
                            #bc318f 30%,
                            #e33f5f 50%,
                            #f77638 70%,
                            #fec66d 100%
                        );
                "
            >
                <img
                    src="../images/profiles/profile-2.jpg"
                    class="img-fluid rounded-circle img-thumbnail"
                    alt=""
                />
            </div>
            <div class="small mt-2">Ankit verma</div>
        </div>
        <!-- story item ends -->

        <!-- story item 3 -->
        <div
            class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center"
        >
            <div
                class="position-relative"
                style="
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    padding: 3px;
                    background: radial-gradient(
                            circle farthest-corner at 35% 90%,
                            #fec564,
                            transparent 50%
                        ),
                        radial-gradient(
                            circle farthest-corner at 0 140%,
                            #fec564,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 0 -25%,
                            #5258cf,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 20% -50%,
                            #5258cf,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 100% 0,
                            #893dc2,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 60% -20%,
                            #893dc2,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 100% 100%,
                            #d9317a,
                            transparent
                        ),
                        linear-gradient(
                            #6559ca,
                            #bc318f 30%,
                            #e33f5f 50%,
                            #f77638 70%,
                            #fec66d 100%
                        );
                "
            >
                <img
                    src="../images/profiles/profile-2.jpg"
                    class="img-fluid rounded-circle img-thumbnail"
                    alt=""
                />
            </div>
            <div class="small mt-2">Ankit verma</div>
        </div>
        <!-- story item ends -->

        <!-- dummies -->
        <!-- story item 3 -->
        <div
            class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center"
        >
            <div
                class="position-relative"
                style="
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    padding: 3px;
                    background: radial-gradient(
                            circle farthest-corner at 35% 90%,
                            #fec564,
                            transparent 50%
                        ),
                        radial-gradient(
                            circle farthest-corner at 0 140%,
                            #fec564,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 0 -25%,
                            #5258cf,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 20% -50%,
                            #5258cf,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 100% 0,
                            #893dc2,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 60% -20%,
                            #893dc2,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 100% 100%,
                            #d9317a,
                            transparent
                        ),
                        linear-gradient(
                            #6559ca,
                            #bc318f 30%,
                            #e33f5f 50%,
                            #f77638 70%,
                            #fec66d 100%
                        );
                "
            >
                <img
                    src="../images/profiles/profile-2.jpg"
                    class="img-fluid rounded-circle img-thumbnail"
                    alt=""
                />
            </div>
            <div class="small mt-2">Ankit verma</div>
        </div>
        <!-- story item ends -->

        <!-- story item 3 -->
        <div
            class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center"
        >
            <div
                class="position-relative"
                style="
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    padding: 3px;
                    background: radial-gradient(
                            circle farthest-corner at 35% 90%,
                            #fec564,
                            transparent 50%
                        ),
                        radial-gradient(
                            circle farthest-corner at 0 140%,
                            #fec564,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 0 -25%,
                            #5258cf,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 20% -50%,
                            #5258cf,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 100% 0,
                            #893dc2,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 60% -20%,
                            #893dc2,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 100% 100%,
                            #d9317a,
                            transparent
                        ),
                        linear-gradient(
                            #6559ca,
                            #bc318f 30%,
                            #e33f5f 50%,
                            #f77638 70%,
                            #fec66d 100%
                        );
                "
            >
                <img
                    src="../images/profiles/profile-2.jpg"
                    class="img-fluid rounded-circle img-thumbnail"
                    alt=""
                />
            </div>
            <div class="small mt-2">Ankit verma</div>
        </div>
        <!-- story item ends -->

        <!-- story item 3 -->
        <div
            class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center"
        >
            <div
                class="position-relative"
                style="
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    padding: 3px;
                    background: radial-gradient(
                            circle farthest-corner at 35% 90%,
                            #fec564,
                            transparent 50%
                        ),
                        radial-gradient(
                            circle farthest-corner at 0 140%,
                            #fec564,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 0 -25%,
                            #5258cf,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 20% -50%,
                            #5258cf,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 100% 0,
                            #893dc2,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 60% -20%,
                            #893dc2,
                            transparent 50%
                        ),
                        radial-gradient(
                            ellipse farthest-corner at 100% 100%,
                            #d9317a,
                            transparent
                        ),
                        linear-gradient(
                            #6559ca,
                            #bc318f 30%,
                            #e33f5f 50%,
                            #f77638 70%,
                            #fec66d 100%
                        );
                "
            >
                <img
                    src="../images/profiles/profile-2.jpg"
                    class="img-fluid rounded-circle img-thumbnail"
                    alt=""
                />
            </div>
            <div class="small mt-2">Ankit verma</div>
        </div>
        <!-- story item ends -->
        <!-- dummies ends -->
    </div>
    <!-- story item ends -->
</div>

<!-- stories ends -->

<div class="row flex-row-reverse">
    <!-- posts -->
    <div class="col-md-7" style="scrollbar-width: none">
        <!-- first post -->
        <div class="post-div mb-5">
            <div
                class="post-username-div py-2 px-3 d-flex justify-content-between"
                style="border-bottom: 1px solid rgba(0, 0, 0, 0.1)"
            >
                <div class="d-flex align-items-center">
                    <div
                        class="position-relative"
                        style="
                            height: 40px;
                            width: 40px;
                            border: 2px solid #e84118;
                            border-radius: 50%;
                            padding: 2px;
                            margin-right: 15px;
                        "
                    >
                        <img
                            src="../images/profiles/profile-2.jpg"
                            class="img-fluid rounded-circle"
                            alt=""
                        />
                    </div>
                    <span>shubham_01012002</span>
                </div>
                <i
                    class="bi bi-three-dots-vertical"
                    style="font-size: 25px"
                ></i>
            </div>
            <div style="width: 100%; height: 500px">
                <img
                    src="../images/posts/post-1.jpg"
                    alt=""
                    style="width: 100%; height: 100%"
                />
            </div>
            <div class="px-3 py-2">
                <i
                    class="bi bi-heart"
                    style="
                        font-size: 22px;
                        margin-right: 15px;
                        position: relative;
                        top: 3px;
                    "
                ></i>
                <i
                    class="bi bi-chat"
                    style="font-size: 22px; margin-right: 15px"
                ></i>
                <i
                    class="bi bi-send"
                    style="font-size: 22px; margin-right: 15px"
                ></i>
            </div>
            <div class="description px-3 py-2">
                <h6>1900 likes</h6>
                <p class="mb-1">
                    <span style="font-weight: 500">shubham_01012002 : </span>
                    This is a first post.
                </p>
                <small style="color: rgba(0, 0, 0, 0.6); font-size: 13px"
                    >10 minutes ago</small
                >
            </div>
            <div
                class="d-flex align-items-center px-3 py-2"
                style="border-top: 1px solid rgba(0, 0, 0, 0.1)"
            >
                <div
                    class="position-relative"
                    style="
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        padding: 2px;
                        margin-right: 15px;
                    "
                >
                    <img
                        src="../images/profiles/profile-1.jpg"
                        class="img-fluid rounded-circle"
                        alt=""
                    />
                </div>
                <span style="color: rgba(0, 0, 0, 0.6)">Add a comment ...</span>
            </div>
        </div>
        <!-- first post ends -->

        <!-- second post -->
        <div class="post-div mb-5">
            <div
                class="post-username-div py-2 px-3 d-flex justify-content-between"
                style="border-bottom: 1px solid rgba(0, 0, 0, 0.1)"
            >
                <div class="d-flex align-items-center">
                    <div
                        class="position-relative"
                        style="
                            height: 40px;
                            width: 40px;
                            border: 2px solid #e84118;
                            border-radius: 50%;
                            padding: 2px;
                            margin-right: 15px;
                        "
                    >
                        <img
                            src="../images/profiles/profile-2.jpg"
                            class="img-fluid rounded-circle"
                            alt=""
                        />
                    </div>
                    <span>shubham_01012002</span>
                </div>
                <i
                    class="bi bi-three-dots-vertical"
                    style="font-size: 25px"
                ></i>
            </div>
            <div style="width: 100%; height: 500px">
                <img
                    src="../images/posts/post-1.jpg"
                    alt=""
                    style="width: 100%; height: 100%"
                />
            </div>
            <div class="px-3 py-2">
                <i
                    class="bi bi-heart"
                    style="
                        font-size: 22px;
                        margin-right: 15px;
                        position: relative;
                        top: 3px;
                    "
                ></i>
                <i
                    class="bi bi-chat"
                    style="font-size: 22px; margin-right: 15px"
                ></i>
                <i
                    class="bi bi-send"
                    style="font-size: 22px; margin-right: 15px"
                ></i>
            </div>
            <div class="description px-3 py-2">
                <h6>1900 likes</h6>
                <p class="mb-1">
                    <span style="font-weight: 500">shubham_01012002 : </span>
                    This is a first post.
                </p>
                <small style="color: rgba(0, 0, 0, 0.6); font-size: 13px"
                    >10 minutes ago</small
                >
            </div>
            <div
                class="d-flex align-items-center px-3 py-2"
                style="border-top: 1px solid rgba(0, 0, 0, 0.1)"
            >
                <div
                    class="position-relative"
                    style="
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        padding: 2px;
                        margin-right: 15px;
                    "
                >
                    <img
                        src="../images/profiles/profile-1.jpg"
                        class="img-fluid rounded-circle"
                        alt=""
                    />
                </div>
                <span style="color: rgba(0, 0, 0, 0.6)">Add a comment ...</span>
            </div>
        </div>
        <!-- second post ends -->
    </div>
    <!-- posts ends -->

    <div class="suggestions col-md-5 p-4 order-first">
        <div
            class="d-flex flex-row justify-content-between mb-4 overflow-scroll"
            style="scrollbar-width: none"
        >
            <div class="text-muted">Suggested for you</div>
            <div class="fw-bold">See All</div>
        </div>
        <!-- suggested profiles -->
        <div class="d-flex flex-column justify-content-between">
            <!-- suggested profile items -->
            <div
                class="d-flex flex-row justify-content-between align-items-center my-3"
            >
                <div class="d-flex flex-md-row">
                    <div style="height: 50px; width: 50px">
                        <img
                            class="img-fluid rounded-circle"
                            src="../images/profiles/profile-2.jpg"
                            alt=""
                        />
                    </div>
                    <div class="ms-3">
                        <div class="fw-bold">Shubham Dusane</div>
                        <div class="small text-muted">
                            Shubham Avinash Dusane
                        </div>
                    </div>
                </div>
                <a class="fw-bold text-decoration-none" style="color: #4c68d7">
                    FOLLOW
                </a>
            </div>

            <div
                class="d-flex flex-row justify-content-between align-items-center my-3"
            >
                <div class="d-flex flex-md-row">
                    <div style="height: 50px; width: 50px">
                        <img
                            class="img-fluid rounded-circle"
                            src="../images/profiles/profile-2.jpg"
                            alt=""
                        />
                    </div>
                    <div class="ms-3">
                        <div class="fw-bold">Shubham Dusane</div>
                        <div class="small text-muted">
                            Shubham Avinash Dusane
                        </div>
                    </div>
                </div>
                <a class="fw-bold text-decoration-none" style="color: #4c68d7">
                    FOLLOW
                </a>
            </div>

            <div
                class="d-flex flex-row justify-content-between align-items-center my-3"
            >
                <div class="d-flex flex-md-row">
                    <div style="height: 50px; width: 50px">
                        <img
                            class="img-fluid rounded-circle"
                            src="../images/profiles/profile-2.jpg"
                            alt=""
                        />
                    </div>
                    <div class="ms-3">
                        <div class="fw-bold">Shubham Dusane</div>
                        <div class="small text-muted">
                            Shubham Avinash Dusane
                        </div>
                    </div>
                </div>
                <a class="fw-bold text-decoration-none" style="color: #4c68d7">
                    FOLLOW
                </a>
            </div>
            <!-- suggested profile items ends -->
        </div>
        <!-- suggested profiles ends -->
    </div>
</div>
