<link rel="stylesheet" href="css/home.css">
<!-- navbar -->
<div ng-include="'partials/navbar.html'"></div>

<!-- main content -->
<section class="main-content" ng-controller="homeCtrl">
    <div class="container-xl">
        <!--  stories -->
        <div class="row justify-content-center">
            <div class="stories my-4 d-flex flex-row overflow-scroll" style="scrollbar-width: none">
                <!-- add story -->
                <div class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center">
                    <div class="position-relative story-inner-div">
                        <img src="images/profiles/profile-1.jpg" class="img-fluid rounded-circle img-thumbnail" alt="" />
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#4c68d7" class="bi bi-plus-circle-fill add-story-svg" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                        </svg>
                    </div>
                    <div class="small mt-2">Your Story</div>
                </div>
                <!-- add story ends-->

                <!-- story item 1 -->
                <div class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center">
                    <div class="position-relative story-inner-div">
                        <img src="images/profiles/profile-2.jpg" class="img-fluid rounded-circle img-thumbnail" alt="" />
                    </div>
                    <div class="small mt-2">Ankit verma</div>
                </div>
                <!-- story item ends -->

                <!-- story item  2 -->
                <div class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center">
                    <div class="position-relative story-inner-div">
                        <img src="images/profiles/profile-2.jpg" class="img-fluid rounded-circle img-thumbnail" alt="" />
                    </div>
                    <div class="small mt-2">Ankit verma</div>
                </div>
                <!-- story item ends -->

                <!-- story item 3 -->
                <div class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center">
                    <div class="position-relative story-inner-div">
                        <img src="images/profiles/profile-2.jpg" class="img-fluid rounded-circle img-thumbnail" alt="" />
                    </div>
                    <div class="small mt-2">Ankit verma</div>
                </div>
                <!-- story item ends -->

                <!-- dummies -->
                <!-- story item 4 -->
                <div class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center">
                    <div class="position-relative story-inner-div">
                        <img src="images/profiles/profile-2.jpg" class="img-fluid rounded-circle img-thumbnail" alt="" />
                    </div>
                    <div class="small mt-2">Ankit verma</div>
                </div>
                <!-- story item ends -->

                <!-- story item 5 -->
                <div class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center">
                    <div class="position-relative story-inner-div">
                        <img src="images/profiles/profile-2.jpg" class="img-fluid rounded-circle img-thumbnail" alt="" />
                    </div>
                    <div class="small mt-2">Ankit verma</div>
                </div>
                <!-- story item ends -->

                <!-- story item 6 -->
                <div class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center">
                    <div class="position-relative story-inner-div">
                        <img src="images/profiles/profile-2.jpg" class="img-fluid rounded-circle img-thumbnail" alt="" />
                    </div>
                    <div class="small mt-2">Ankit verma</div>
                </div>
                <!-- story item ends -->
                <!-- dummies ends -->
            </div>
            <!-- story item ends -->
        </div>

        <!-- stories ends -->

        <div class="row flex-row-reverse">
            <!-- posts -->
            <div class="col-md-7" style="scrollbar-width: none">
                <!-- first post -->
                <div class="post-div mb-5">
                    <div class="post-username-div py-2 px-3 d-flex justify-content-between" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1)">
                        <div class="d-flex align-items-center">
                            <div class="position-relative post-user-img-div">
                                <img src="images/profiles/profile-2.jpg" class="img-fluid rounded-circle" alt="" />
                            </div>
                            <span>shubham_01012002</span>
                        </div>
                        <i class="bi bi-three-dots-vertical" style="font-size: 25px"></i>
                    </div>
                    <div class="post-img-div">
                        <img src="images/posts/post-1.jpg" alt="post" />
                    </div>
                    <div class="px-3 py-2">
                        <i class="bi bi-heart post-icons" style="position: relative;top: 3px;"></i>
                        <i class="bi bi-chat post-icons"></i>
                        <i class="bi bi-send post-icons"></i>
                    </div>
                    <div class="description px-3 py-2">
                        <h6>1900 likes</h6>
                        <p class="mb-1">
                            <span style="font-weight: 500">shubham_01012002 :
                            </span> This is a first post.
                        </p>
                        <small class="light-text" style="font-size: 13px;">10 minutes ago</small>
                    </div>
                    <div class="d-flex align-items-center px-3 py-2" style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
                        <div class="position-relative add-comment-img-div">
                            <img src="images/profiles/profile-1.jpg" class="img-fluid rounded-circle" alt="profile-image" />
                        </div>
                        <span class="light-text">Add a comment ...</span>
                    </div>
                </div>
                <!-- first post ends -->

                <!-- second post -->
                <div class="post-div mb-5">
                    <div class="post-username-div py-2 px-3 d-flex justify-content-between" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1)">
                        <div class="d-flex align-items-center">
                            <div class="position-relative post-user-img-div">
                                <img src="images/profiles/profile-2.jpg" class="img-fluid rounded-circle" alt="" />
                            </div>
                            <span>shubham_01012002</span>
                        </div>
                        <i class="bi bi-three-dots-vertical" style="font-size: 25px"></i>
                    </div>
                    <div class="post-img-div">
                        <img src="images/posts/post-1.jpg" alt="post" />
                    </div>
                    <div class="px-3 py-2">
                        <i class="bi bi-heart post-icons" style="position: relative;top: 3px;"></i>
                        <i class="bi bi-chat post-icons"></i>
                        <i class="bi bi-send post-icons"></i>
                    </div>
                    <div class="description px-3 py-2">
                        <h6>1900 likes</h6>
                        <p class="mb-1">
                            <span style="font-weight: 500">shubham_01012002 :
                            </span> This is a first post.
                        </p>
                        <small class="light-text" style="font-size: 13px;">10 minutes ago</small>
                    </div>
                    <div class="d-flex align-items-center px-3 py-2" style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
                        <div class="position-relative add-comment-img-div">
                            <img src="images/profiles/profile-1.jpg" class="img-fluid rounded-circle" alt="profile-image" />
                        </div>
                        <span class="light-text">Add a comment ...</span>
                    </div>
                </div>
                <!-- second post ends -->
            </div>
            <!-- posts ends -->

            <div class="suggestions col-md-5 p-4 order-first">
                <div class="d-flex flex-row justify-content-between mb-4 overflow-scroll" style="scrollbar-width: none">
                    <div class="text-muted">Suggested for you</div>
                    <div class="fw-bold">See All</div>
                </div>
                <!-- suggested profiles -->
                <div class="d-flex flex-column justify-content-between">
                    <!-- suggested profile items -->
                    <div class="d-flex flex-row justify-content-between align-items-center my-3">
                        <div class="d-flex flex-md-row">
                            <div class="follower-suggestion-img-div">
                                <img class="img-fluid rounded-circle" src="images/profiles/profile-2.jpg" alt="" />
                            </div>
                            <div class="ms-3">
                                <div class="fw-bold">Shubham Dusane</div>
                                <div class="small text-muted">
                                    Shubham Avinash Dusane
                                </div>
                            </div>
                        </div>
                        <a class="fw-bold text-decoration-none follow-btn">
                            FOLLOW
                        </a>
                    </div>

                    <div class="d-flex flex-row justify-content-between align-items-center my-3">
                        <div class="d-flex flex-md-row">
                            <div class="follower-suggestion-img-div">
                                <img class="img-fluid rounded-circle" src="images/profiles/profile-2.jpg" alt="" />
                            </div>
                            <div class="ms-3">
                                <div class="fw-bold">Shubham Dusane</div>
                                <div class="small text-muted">
                                    Shubham Avinash Dusane
                                </div>
                            </div>
                        </div>
                        <a class="fw-bold text-decoration-none follow-btn">
                            FOLLOW
                        </a>
                    </div>

                    <div class="d-flex flex-row justify-content-between align-items-center my-3">
                        <div class="d-flex flex-md-row">
                            <div class="follower-suggestion-img-div">
                                <img class="img-fluid rounded-circle" src="images/profiles/profile-2.jpg" alt="" />
                            </div>
                            <div class="ms-3">
                                <div class="fw-bold">Shubham Dusane</div>
                                <div class="small text-muted">
                                    Shubham Avinash Dusane
                                </div>
                            </div>
                        </div>
                        <a class="fw-bold text-decoration-none follow-btn">
                            FOLLOW
                        </a>
                    </div>
                    <!-- suggested profile items ends -->
                </div>
                <!-- suggested profiles ends -->
            </div>
        </div>
    </div>
</section>
<!-- main content ends -->

<!-- bootstrap js -->
<script src="lib/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
<!-- </body>
</html> -->