<link rel="stylesheet" href="css/home.css" />
<!-- navbar -->
<div ng-include="'partials/navbar.html'"></div>

<!-- main content -->
<section class="main-content" ng-controller="homeCtrl">
    <div class="container-xl">
        <!--  stories -->
        <div class="row justify-content-center">
            <div
                class="stories my-4 d-flex flex-row overflow-scroll"
                style="scrollbar-width: none"
            >
                <!-- add story -->
                <div
                    class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center"
                >
                    <div class="position-relative story-inner-div">
                        <img
                            src="images/profiles/profile-1.jpg"
                            class="img-fluid rounded-circle img-thumbnail"
                            alt=""
                        />
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            fill="#4c68d7"
                            class="bi bi-plus-circle-fill add-story-svg"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
                            />
                        </svg>
                    </div>
                    <div class="small mt-2">Your Story</div>
                </div>
                <!-- add story ends-->

                <!-- story item 1 -->
                <others-stories class="d-flex flex-row"></others-stories>
                <!-- story item ends -->
            </div>
            <!-- story item ends -->
        </div>

        <!-- stories ends -->

        <div class="row flex-row-reverse">
            <!-- posts -->
            <div class="col-md-7" style="scrollbar-width: none">
                <post-list> </post-list>
            </div>
            <!-- posts ends -->

            <div class="suggestions col-md-5 p-4 order-first">
                <follower-suggestion-list> </follower-suggestion-list>
            </div>
        </div>
    </div>
</section>
<!-- main content ends -->

<!-- bootstrap js -->
<script src="lib/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
<!-- </body>
</html> -->
