<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- bootstrap icons -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
        />

        <!-- bootstrap css -->
        <link
            rel="stylesheet"
            href="../lib/bootstrap-5.0.2-dist/css/bootstrap.min.css"
        />

        <!-- for stories carosel -->
        <link
            rel="stylesheet"
            type="text/css"
            href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
        />

        <!-- custom css -->
        <link rel="stylesheet" href="style.css" />
        <title>Instagram</title>
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand navbar-light bg-light sticky-top">
            <div class="container-xl">
                <a class="navbar-brand" href="#"
                    ><img src="../images/ig-logo.png" alt="Instagram Logo"
                /></a>

                <!-- search -->
                <form class="d-flex mx-auto">
                    <div class="input-group">
                        <span
                            class="input-group-text bg-white"
                            id="basic-addon1"
                            ><i class="bi bi-search"></i>
                        </span>
                        <input
                            class="form-control me-2"
                            type="search"
                            placeholder="Search"
                            aria-label="Search"
                        />
                    </div>
                </form>
                <!-- search ends -->

                <!-- nav items -->
                <ul class="navbar-nav me-0 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i
                                class="bi bi-house-door-fill"
                                style="font-size: 23px"
                            ></i>
                        </a>
                    </li>

                    <li class="nav-item ms-md-3">
                        <a class="nav-link" href="#">
                            <i
                                class="bi bi-chat-dots"
                                style="font-size: 23px"
                            ></i>
                        </a>
                    </li>

                    <li class="nav-item ms-md-3">
                        <a class="nav-link" href="#">
                            <i
                                class="bi bi-plus-square"
                                style="font-size: 23px"
                            ></i>
                        </a>
                    </li>

                    <li class="nav-item ms-md-3">
                        <a class="nav-link" href="#">
                            <i class="bi bi-heart" style="font-size: 23px"></i>
                        </a>
                    </li>

                    <li class="nav-item ms-md-3">
                        <a class="nav-link" href="#">
                            <img
                                src="../images/profiles/profile-1.jpg"
                                alt="profile image"
                                class="rounded-circle"
                                style="height: 33px"
                            />
                        </a>
                    </li>
                </ul>
                <!-- nav items ends-->
            </div>
        </nav>
        <!-- navbar ends -->

        <!-- main content -->
        <section class="main-content">
            <div class="container-xl">
                <!--  stories -->
                <div class="row justify-content-center">
                    <div class="stories my-3 d-flex flex-row">
                        <!-- add story -->
                        <div
                            class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center"
                        >
                            <div
                                class="position-relative"
                                style="
                                    height: 80px;
                                    width: 80px;
                                    border-radius: 50%;
                                    padding: 3px;
                                    background: radial-gradient(
                                            circle farthest-corner at 35% 90%,
                                            #fec564,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            circle farthest-corner at 0 140%,
                                            #fec564,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 0 -25%,
                                            #5258cf,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 20% -50%,
                                            #5258cf,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 100% 0,
                                            #893dc2,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 60% -20%,
                                            #893dc2,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 100% 100%,
                                            #d9317a,
                                            transparent
                                        ),
                                        linear-gradient(
                                            #6559ca,
                                            #bc318f 30%,
                                            #e33f5f 50%,
                                            #f77638 70%,
                                            #fec66d 100%
                                        );
                                "
                            >
                                <img
                                    src="../images/profiles/profile-1.jpg"
                                    class="img-fluid rounded-circle img-thumbnail"
                                    alt=""
                                />
                                <svg
                                    style="
                                        position: relative;
                                        left: 50px;
                                        bottom: 20px;
                                        background-color: white;
                                        border-radius: 50%;
                                    "
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    fill="#4c68d7"
                                    class="bi bi-plus-circle-fill"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
                                    />
                                </svg>
                            </div>
                            <div class="small mt-2">Your Story</div>
                        </div>
                        <!-- add story ends-->

                        <!-- story item 1 -->
                        <div
                            class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center"
                        >
                            <div
                                class="position-relative"
                                style="
                                    height: 80px;
                                    width: 80px;
                                    border-radius: 50%;
                                    padding: 3px;
                                    background: radial-gradient(
                                            circle farthest-corner at 35% 90%,
                                            #fec564,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            circle farthest-corner at 0 140%,
                                            #fec564,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 0 -25%,
                                            #5258cf,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 20% -50%,
                                            #5258cf,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 100% 0,
                                            #893dc2,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 60% -20%,
                                            #893dc2,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 100% 100%,
                                            #d9317a,
                                            transparent
                                        ),
                                        linear-gradient(
                                            #6559ca,
                                            #bc318f 30%,
                                            #e33f5f 50%,
                                            #f77638 70%,
                                            #fec66d 100%
                                        );
                                "
                            >
                                <img
                                    src="../images/profiles/profile-2.jpg"
                                    class="img-fluid rounded-circle img-thumbnail"
                                    alt=""
                                />
                            </div>
                            <div class="small mt-2">Ankit verma</div>
                        </div>
                        <!-- story item ends -->

                        <!-- story item  2 -->
                        <div
                            class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center"
                        >
                            <div
                                class="position-relative"
                                style="
                                    height: 80px;
                                    width: 80px;
                                    border-radius: 50%;
                                    padding: 3px;
                                    background: radial-gradient(
                                            circle farthest-corner at 35% 90%,
                                            #fec564,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            circle farthest-corner at 0 140%,
                                            #fec564,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 0 -25%,
                                            #5258cf,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 20% -50%,
                                            #5258cf,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 100% 0,
                                            #893dc2,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 60% -20%,
                                            #893dc2,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 100% 100%,
                                            #d9317a,
                                            transparent
                                        ),
                                        linear-gradient(
                                            #6559ca,
                                            #bc318f 30%,
                                            #e33f5f 50%,
                                            #f77638 70%,
                                            #fec66d 100%
                                        );
                                "
                            >
                                <img
                                    src="../images/profiles/profile-2.jpg"
                                    class="img-fluid rounded-circle img-thumbnail"
                                    alt=""
                                />
                            </div>
                            <div class="small mt-2">Ankit verma</div>
                        </div>
                        <!-- story item ends -->

                        <!-- story item 3 -->
                        <div
                            class="story position-relative m-2 d-flex flex-column justify-content-center align-items-center"
                        >
                            <div
                                class="position-relative"
                                style="
                                    height: 80px;
                                    width: 80px;
                                    border-radius: 50%;
                                    padding: 3px;
                                    background: radial-gradient(
                                            circle farthest-corner at 35% 90%,
                                            #fec564,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            circle farthest-corner at 0 140%,
                                            #fec564,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 0 -25%,
                                            #5258cf,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 20% -50%,
                                            #5258cf,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 100% 0,
                                            #893dc2,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 60% -20%,
                                            #893dc2,
                                            transparent 50%
                                        ),
                                        radial-gradient(
                                            ellipse farthest-corner at 100% 100%,
                                            #d9317a,
                                            transparent
                                        ),
                                        linear-gradient(
                                            #6559ca,
                                            #bc318f 30%,
                                            #e33f5f 50%,
                                            #f77638 70%,
                                            #fec66d 100%
                                        );
                                "
                            >
                                <img
                                    src="../images/profiles/profile-2.jpg"
                                    class="img-fluid rounded-circle img-thumbnail"
                                    alt=""
                                />
                            </div>
                            <div class="small mt-2">Ankit verma</div>
                        </div>
                        <!-- story item ends -->
                    </div>
                </div>

                <!-- stories ends -->

                <div class="row">
                    <div class="col-md-7">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Ratione dolores sapiente, officiis repellat
                        quibusdam nisi molestiae quae delectus ea. Ipsa
                        quibusdam veritatis, ipsam omnis sapiente quasi tenetur
                        magnam non iure corrupti ut dicta itaque amet provident
                        nihil dolor eius quisquam quidem. Mollitia nemo
                        voluptatum fugiat dolore cumque tenetur consequuntur
                        natus explicabo facere, nobis perspiciatis quis placeat
                        blanditiis aliquid suscipit quia rerum maiores maxime
                        laborum beatae eos. In fugit debitis pariatur labore!
                        Provident neque blanditiis voluptates nemo sed?
                        Accusantium, sed placeat molestias quos temporibus nisi
                        nulla quasi odio laborum pariatur, architecto aspernatur
                        nesciunt alias esse incidunt sunt ut nam quidem magni?
                    </div>
                    <div class="suggestions col-md-5 p-4">
                        <div
                            class="d-flex flex-row justify-content-between mb-4"
                        >
                            <div class="text-muted">Suggested for you</div>
                            <div class="fw-bold">See All</div>
                        </div>
                        <!-- suggested profiles -->
                        <div class="d-flex flex-column justify-content-between">
                            <!-- suggested profile items -->
                            <div
                                class="d-flex flex-row justify-content-between align-items-center my-3"
                            >
                                <div class="d-flex flex-md-row">
                                    <div style="height: 50px; width: 50px">
                                        <img
                                            class="img-fluid rounded-circle"
                                            src="../images/profiles/profile-2.jpg"
                                            alt=""
                                        />
                                    </div>
                                    <div class="ms-3">
                                        <div class="fw-bold">
                                            Shubham Dusane
                                        </div>
                                        <div class="small text-muted">
                                            Shubham Avinash Dusane
                                        </div>
                                    </div>
                                </div>
                                <a
                                    class="fw-bold text-decoration-none"
                                    style="color: #4c68d7"
                                >
                                    FOLLOW
                                </a>
                            </div>

                            <div
                                class="d-flex flex-row justify-content-between align-items-center my-3"
                            >
                                <div class="d-flex flex-md-row">
                                    <div style="height: 50px; width: 50px">
                                        <img
                                            class="img-fluid rounded-circle"
                                            src="../images/profiles/profile-2.jpg"
                                            alt=""
                                        />
                                    </div>
                                    <div class="ms-3">
                                        <div class="fw-bold">
                                            Shubham Dusane
                                        </div>
                                        <div class="small text-muted">
                                            Shubham Avinash Dusane
                                        </div>
                                    </div>
                                </div>
                                <a
                                    class="fw-bold text-decoration-none"
                                    style="color: #4c68d7"
                                >
                                    FOLLOW
                                </a>
                            </div>
                            <!-- suggested profile items ends -->
                        </div>
                        <!-- suggested profiles ends -->
                    </div>
                </div>
            </div>
        </section>
        <!-- main content ends -->

        <!-- bootstrap js -->
        <script src="../lib/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
        <!-- for stories carosel -->
        <script
            type="text/javascript"
            src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
        ></script>
    </body>
</html>
