<!-- css -->
<link rel="stylesheet" href="css/profile.css" />

<!-- navbar -->
<div ng-include="'partials/navbar.html'"></div>

<!-- main content -->
<section class="main-content" ng-controller="profileCtrl">
    <div class="container">
        <div class="profile my-5">
            <div class="d-flex align-items-center">
                <div class="profile-image">
                    <img src="{{userProfile.userData.profile_pic}}" alt="profile-image" />
                </div>

                <div class="profile-details">
                    <p class="username">{{userProfile.userData.username}}</p>
                    <ul class="d-flex profile-stats">
                        <li>
                            <span class="fw-bold">{{userProfile.userPost.length}}</span> posts
                        </li>
                        <li>
                            <a href="#" style="color: black; text-decoration: none">
                                <span class="fw-bold">{{userProfile.userData.follower.length}}</span> followers
                            </a>
                        </li>
                        <li>
                            <a href="#" style="color: black; text-decoration: none">
                                <span class="fw-bold">{{userProfile.userData.following.length}}</span> following
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="user-bio">
                <h5 class="my-4">{{userProfile.userData.fullname}}</h5>
                {{userProfile.userData.bio}}
            </div>

            <a href="#" style="margin: 100px" class="edit-profile-btn">
                <button class="btn btn-outline-dark">
                    <i class="bi bi-gear-fill" style="margin-right: 7px"></i>
                    <span>Edit Profile</span>
                </button>
            </a>
        </div>

        <hr />

        <div class="d-flex justify-content-center mb-3 post-save-icons">
            <a href="#" class="mx-5" style="color: black; text-decoration: none">
                <span style="font-size: 14px"><i class="bi bi-grid-3x3 mx-1"></i> POSTS</span>
            </a>
            <a href="#" class="mx-5" style="color: black; text-decoration: none">
                <span style="font-size: 14px"><i class="bi bi-play-circle mx-1"></i>VIDEOS</span>
            </a>
            <a href="#" class="mx-5" style="color: black; text-decoration: none">
                <span style="font-size: 14px"><i class="bi bi-bookmark mx-1"></i>SAVED</span>
            </a>
        </div>



        <span class="our-post-div text-center" ng-repeat="post in userProfile.userPost">



            <span ng-if="post.post[0].split('.').pop() == 'mp4'">
                <video ng-src={{post.post[0]}} controls></video>
            </span>
        <span ng-if="post.post[0].split('.').pop() != 'mp4'">
                <img style="object-fit: contain; background: rgba(245, 245, 245, 0.5); border-radius: 10px;" ng-src={{post.post[0]}}
                    class="p-2" data-bs-toggle="modal" data-bs-target="#post-{{post._id}}" alt="">
            </span>




        <div class="modal fade" id="post-{{post._id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
                <!-- <div class="modal-content"> -->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 bg-dark d-flex justify-content-center align-items-center">

                                <div id="carousel-{{post._id}}" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" ng-repeat="postImage in post.post" class="{{$index ? '' : 'active'}}" data-bs-target="#carousel-{{post._id}}" data-bs-slide-to="{{$index}}" aria-current="true" aria-label="Slide 1"></button>

                                    </div>
                                    <div class="carousel-inner">
                                        <div ng-repeat="postImage in post.post" class="carousel-item {{$index ? '' : 'active'}}">
                                            <span ng-if="postImage.split('.').pop() == 'mp4'">
                                                <video ng-src="{{postImage}}" controls></video>
                                            </span>
                                            <span ng-if="postImage.split('.').pop() != 'mp4'">
                                                <img ng-src="{{postImage}}" alt="" style=" object-fit:contain; width: 100% !important; height: 70vh !important;">
                                            </span>

                                        </div>


                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{post._id}}" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true">

                                            </span>
        <span class="visually-hidden">Previous</span>
        </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{post._id}}" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                </div>




                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 bg-danger" style="height: 80vh;">
                                Right
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div ng-repeat=""></div> -->

        </span>



    </div>
</section>
<!-- main content ends -->