<!-- css -->
<link rel="stylesheet" href="css/profile.css" />

<!-- navbar -->
<div ng-include="'partials/navbar.html'"></div>

<!-- main content -->
<section class="main-content">
    <div class="container">
        <div class="profile my-5">
            <div class="d-flex align-items-center">
                <div class="profile-image">
                    <img src="images/profiles/profile-1.jpg" alt="profile-image" />
                </div>

                <div class="profile-details">
                    <p class="username">shubham_01012002</p>
                    <ul class="d-flex profile-stats">
                        <li>
                            <span class="fw-bold">10</span> posts
                        </li>
                        <li>
                            <a href="#" style="color: black; text-decoration: none">
                                <span class="fw-bold">278</span> followers
                            </a>
                        </li>
                        <li>
                            <a href="#" style="color: black; text-decoration: none">
                                <span class="fw-bold">570</span> following
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="user-bio">
                <h5 class="my-4">Shubham Dusane</h5>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero animi doloremque, modi ducimus rerum aspernatur error sint, cumque quaerat non omnis quia sapiente illo molestiae, asperiores quasi harum fugiat sed saepe incidunt vero vitae! Lorem, ipsum
                dolor sit amet consectetur adipisicing elit. Quibusdam quod ducimus animi impedit voluptates. Tempore perferendis numquam deleniti amet, minima laudantium provident cumque voluptatum, tenetur quaerat magni repellendus quibusdam aliquam,
                corrupti nesciunt atque eligendi!
            </div>

            <a href="#" style="margin: 100px" class="edit-profile-btn">
                <button class="btn btn-outline-dark">
                    <i class="bi bi-gear-fill" style="margin-right: 7px"></i>
                    <span>Edit Profile</span>
                </button>
            </a>
        </div>

        <hr />

        <div class="d-flex justify-content-center mb-3 post-save-icons">
            <a href="#" style="color: black; text-decoration: none">
                <span class="mx-5" style="font-size: 14px"><i class="bi bi-grid-3x3 mx-1"></i> POSTS</span
                >
            </a>
            <a href="#" style="color: black; text-decoration: none">
                <span class="mx-5" style="font-size: 14px"
                    ><i class="bi bi-play-circle mx-1"></i>VIDEOS</span
                >
            </a>
            <a href="#" style="color: black; text-decoration: none">
                <span class="mx-5" style="font-size: 14px"
                    ><i class="bi bi-bookmark mx-1"></i>SAVED</span
                >
            </a>
        </div>

        <div class="our-post-div text-center">
            <img
                src="images/posts/post-1.jpg"
                alt="your-post-image"
                style="width: 300px; height: 250px"
            />
            <img
                src="images/posts/post-2.jfif"
                alt="yout-post-image"
                style="width: 300px; height: 250px"
            />
            <img
                src="images/posts/post-1.jpg"
                alt="your-post-image"
                style="width: 300px; height: 250px"
            />
            <img
                src="images/posts/post-2.jfif"
                alt="yout-post-image"
                style="width: 300px; height: 250px"
            />
            <img
                src="images/posts/post-1.jpg"
                alt="your-post-image"
                style="width: 300px; height: 250px"
            />
            <img
                src="images/posts/post-2.jfif"
                alt="yout-post-image"
                style="width: 300px; height: 250px"
            />
            <img
                src="images/posts/post-1.jpg"
                alt="your-post-image"
                style="width: 300px; height: 250px"
            />
            <img
                src="images/posts/post-2.jfif"
                alt="yout-post-image"
                style="width: 300px; height: 250px"
            />
            <img
                src="images/posts/post-1.jpg"
                alt="your-post-image"
                style="width: 300px; height: 250px"
            />
            <img
                src="images/posts/post-2.jfif"
                alt="yout-post-image"
                style="width: 300px; height: 250px"
            />
        </div>
    </div>
</section>
<!-- main content ends -->