<div class="d-flex justify-content-center align-items-center flex-column" style="background-color: whitesmoke;height: 100vh; font-family: 'Roboto';">
    <div>
        <img ng-src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="instagram icon" height="35" width="35" class="img-fluid">
        <img class="mt-2 mx-2" ng-src="./images/ig-logo.png" alt="instagram">
    </div>
    <hr style="width: 50vw;">
    <h2>Verification link has been send on your mail</h2>
    <h3 class="text-success">Check your E-mail</h3>
</div>